<div class="container">
    <h2>{{title}}</h2>

    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required>
            <span class="formError" *ngIf="name.touched && !name.valid">El nombre es obligatorio</span>

        </p>

        <p>
            <label for="description">Descripcion</label>
            <textarea name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>
            <span class="formError" *ngIf="description.touched && !description.valid">la descriccion obligatorio</span>
        </p>
        <p>
            <label for="category">Categoria</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required>
            <span class="formError" *ngIf="category.touched && !category.valid">la vategoria es obligatorio</span>
        </p>
        <p>
            <label for="year">año de lanzamiento</label>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year">
        </p>
        <p>
            <label for="langs">Lenguajes utilizados</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required>
            <span class="formError" *ngIf="langs.touched && !langs.valid">los lenguajes obligatorio</span>
        </p>
        <p>
            <label for="image">Imagen del proyecto</label>
            <input type="file" name="image" placeholder="subir imagen">
        </p>

        <input type="submit" value="enviar" [disabled]="!projectForm.form.valid">
    </form>
</div>